{% extends 'layout.html' %}

{% block body %}

<body class="bg-gray-900">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-5xl font-bold text-green-400 mb-8 text-center">ThreatTracker</h1>
    
    <div class="flex justify-center mb-12">
      <iframe src="https://gifer.com/embed/7jiL" width=1600 height= frameBorder="0" allowFullScreen></iframe>
      </div>
    </div>
    
    <p class="text-lg text-green-600 mb-8">
      Welcome to the Cyber world defenders website, here we take ownership, responsibility for Cyber Security and we close a whole damn lot of incidents.<br>
      Created for Secure Device
    </p>

    <div class="text-center">
    <a href="/login" class="inline-block px-6 py-3 bg-green-500 text-white font-semibold rounded hover:bg-green-600 transition duration-200">
      Get Soccing
    </a>
  </div>


</body>
{% endblock %}
