{% extends 'layout.html' %}

{% block body %}
<body class="bg-gray-900">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold mb-4 text-green-400">Leaderboard</h1>

    <h2 class="text-lg font-bold mb-2 text-white">Total Incidents</h2>
    <table class="min-w-full bg-gray-800 border border-gray-700">
      <thead>
        <tr>
          <th class="px-6 py-3 border-b border-gray-700 font-semibold text-left text-gray-200">Name</th>
          <th class="px-6 py-3 border-b border-gray-700 font-semibold text-left text-gray-200">Incidents</th>
        </tr>
      </thead>
      <tbody>
        {% for row in datas if row['type'] == 'Total' %}
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-gray-200">{{ row['name'] }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-gray-200">{{ row['incidents'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2 class="text-lg font-bold my-4 text-white">QRadar Incidents</h2>
    <table class="min-w-full bg-gray-800 border border-gray-700">
      <thead>
        <tr>
          <th class="px-6 py-3 border-b border-gray-700 font-semibold text-left text-gray-200">Name</th>
          <th class="px-6 py-3 border-b border-gray-700 font-semibold text-left text-gray-200">Incidents</th>
        </tr>
      </thead>
      <tbody>
        {% for row in datas if row['type'] == 'QRadar' %}
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-gray-200">{{ row['name'] }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-gray-200">{{ row['incidents'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2 class="text-lg font-bold my-4 text-white">Phishing Incidents</h2>
    <table class="min-w-full bg-gray-800 border border-gray-700">
      <thead>
        <tr>
          <th class="px-6 py-3 border-b border-gray-700 font-semibold text-left text-gray-200">Name</th>
          <th class="px-6 py-3 border-b border-gray-700 font-semibold text-left text-gray-200">Incidents</th>
        </tr>
      </thead>
      <tbody>
        {% for row in datas if row['type'] == 'Phishing' %}
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-gray-200">{{ row['name'] }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-gray-200">{{ row['incidents'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
{% endblock %}
